body {
    background-color: antiquewhite;
    margin: 30px;
    direction: rtl;
}

.all {
    width: 100%;
}

.baj {
    margin: 50px auto;
    background-color: brown;
    color: aliceblue;
    width: 400px;
    text-align: center;
    padding: 10px;
}

h1 {
    font-family: speda;
    font-size: 40px;
    margin: 0;
}

/* ئەمە وای دەکات شارەکان لە تەنیشت یەکتر بن */
.cities {
    display: flex;
    flex-direction: row;
    justify-content: center;
 align-items: stretch;
    gap: 40px;
    width: 100%;
}

.sar,
.bar {
    width: 400px;
    border: solid red 3px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}

h2 {
    font-family: speda;
    font-size: 80px;
    margin: 0 0 20px 0;
}

.text,
.text2 {
    font-size: 20px;
    line-height: 1.8;
    text-align: right;
}

/* بۆ شاشەی بچووک */
@media (max-width: 900px) {

    .cities {
        flex-direction: column;
        align-items: center;
    }

    .sar,
    .bar {
        width: 90%;
        max-width: 500px;
    }

}

.another {
     margin: 50px auto;
    background-color: rgb(42, 0, 139);
    width: 400px;
    text-align: center;
    padding: 10px;
  transition: 0.3s ease;
}

a:link,
a:visited {
    font-family: speda;
    font-size: 30px;
    color: rgb(218, 213, 208);
    text-decoration: none;
   
}

.another:hover {
    transform: translateY(-5px) scale(1.08);
}

.baz {
    margin: 50px auto;
    background-color: rgb(0, 30, 128);
    color: aliceblue;
    width: 400px;
    text-align: center;
    padding: 10px;
}

.sar2 {
    width: 800px;
    margin: 30px ;
    padding: 10px;
    box-sizing: border-box;
}

.text1 {
    font-size: 30px;
    line-height: 1.5;
    overflow-wrap: break-word;
}